<section class="pt-7 pt-md-10">
	<hr>
	<div class="container">
		<div class="row ">
			<div
				class="col-12">
				<!-- Heading -->

				<h2 class="mb-0">
					Dernières actualités</h2>
			</div>
			<!-- -->
			<p class="mb-5 text-muted">
				These span the grid's entre width with sevral option
			</p>

		</div>

		<div class="row">

			<div
				class="col-12 col-lg-12 row">


				<!-- Card -->
				<div class=" shadow-light-lg mb-6 lift lift-lg col-lg-4" data-aos="zoom-out">


					<div
						class="col-12 col-md-4 col-lg-12 order-md-1">

						<!-- Body -->
						<a
							class="card-body" href="#!">

							<!-- Heading -->
							<h3>
								Travel Can Keep You Creatively Inspired.
							</h3>
							<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="https://media.istockphoto.com/photos/beautiful-brown-and-white-colors-mix-perfectly-in-gorgeous-kitchen-picture-id1249292287?k=20&m=1249292287&s=612x612&w=0&h=Z7N7spblYPU09sHDeOHSst68MkhCeH7PhrBnMfTlksc=" class="d-block w-100" alt="...">

									</div>
									<div class="carousel-item">
										<img src="https://media.istockphoto.com/photos/beautiful-kitchen-room-with-green-island-and-farm-sink-picture-id950318746?k=20&m=950318746&s=612x612&w=0&h=oeBkFYlRmWSUYUlzv_rzFL3doDDubsNZtAI1RbZoAaw=" class="d-block w-100" alt="...">

									</div>
									<div class="carousel-item">
										<img src="https://media.istockphoto.com/photos/kitchen-cupboards-picture-id183856911?k=20&m=183856911&s=612x612&w=0&h=hKc6uInLMzsIhXaSSg51v3sUtgPuVtV9Jh4Drqxrreo=" class="d-block w-100" alt="...">

									</div>
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>


							<!-- Text -->


						</a>

						<!-- Meta -->
						<a
							class="card-meta" href="#!">

							<!-- Divider -->
							<hr
							class="card-meta-divider">


							<!-- Author -->
							<h6 class="text-uppercase text-muted me-2 mb-0">
								Ab Hadley
							</h6>

							<!-- Date -->
							<p class="h6 text-uppercase text-muted mb-0 ms-auto">
								<time datetime="2019-05-02">May 02</time>
							</p>

						</a>

					</div>

				</div>
				<!-- / .card-->


				<div class=" shadow-light-lg mb-6 lift lift-lg col-lg-4" data-aos="zoom-in">


					<div
						class="col-12 col-md-4 col-lg-12 order-md-1">

						<!-- Body -->
						<a
							class="card-body" href="#!">

							<!-- Heading -->
							<h3>
								Travel Can Keep You Creatively Inspired.
							</h3>
							<div id="test1" class="carousel slide carousel-fade" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="https://media.istockphoto.com/photos/beautiful-brown-and-white-colors-mix-perfectly-in-gorgeous-kitchen-picture-id1249292287?k=20&m=1249292287&s=612x612&w=0&h=Z7N7spblYPU09sHDeOHSst68MkhCeH7PhrBnMfTlksc=" class="d-block w-100" alt="...">

									</div>
									<div class="carousel-item">
										<img src="https://media.istockphoto.com/photos/beautiful-kitchen-room-with-green-island-and-farm-sink-picture-id950318746?k=20&m=950318746&s=612x612&w=0&h=oeBkFYlRmWSUYUlzv_rzFL3doDDubsNZtAI1RbZoAaw=" class="d-block w-100" alt="...">

									</div>
									<div class="carousel-item">
										<img src="https://media.istockphoto.com/photos/kitchen-cupboards-picture-id183856911?k=20&m=183856911&s=612x612&w=0&h=hKc6uInLMzsIhXaSSg51v3sUtgPuVtV9Jh4Drqxrreo=" class="d-block w-100" alt="...">

									</div>
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#test1" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#test1" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>

							<!-- Text -->


						</a>

						<!-- Meta -->
						<a
							class="card-meta" href="#!">

							<!-- Divider -->
							<hr
							class="card-meta-divider">


							<!-- Author -->
							<h6 class="text-uppercase text-muted me-2 mb-0">
								Ab Hadley
							</h6>

							<!-- Date -->
							<p class="h6 text-uppercase text-muted mb-0 ms-auto">
								<time datetime="2019-05-02">May 02</time>
							</p>

						</a>

					</div>

				</div>


				<!-- Card -->
				<div class=" shadow-light-lg mb-6 lift lift-lg col-lg-4" data-aos="zoom-out">


					<div
						class="col-12 col-md-4 col-lg-12 order-md-1">

						<!-- Body -->
						<a
							class="card-body" href="#!">

							<!-- Heading -->
							<h3>
								Travel Can Keep You Creatively Inspired.
							</h3>
							{# <img src="https://media.istockphoto.com/photos/empty-vacant-apartment-room-picture-id1142711133?k=20&m=1142711133&s=612x612&w=0&h=RuQ97mqGxgO_z4ECa9Ltgnt6TFgQCq4GU-P1MeH4AQ0=" alt=""> #}

							<div id="test2" class="carousel slide carousel-fade" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="https://media.istockphoto.com/photos/beautiful-brown-and-white-colors-mix-perfectly-in-gorgeous-kitchen-picture-id1249292287?k=20&m=1249292287&s=612x612&w=0&h=Z7N7spblYPU09sHDeOHSst68MkhCeH7PhrBnMfTlksc=" class="d-block w-100" alt="...">

									</div>
									<div class="carousel-item">
										<img src="https://media.istockphoto.com/photos/beautiful-kitchen-room-with-green-island-and-farm-sink-picture-id950318746?k=20&m=950318746&s=612x612&w=0&h=oeBkFYlRmWSUYUlzv_rzFL3doDDubsNZtAI1RbZoAaw=" class="d-block w-100" alt="...">

									</div>
									<div class="carousel-item">
										<img src="https://media.istockphoto.com/photos/kitchen-cupboards-picture-id183856911?k=20&m=183856911&s=612x612&w=0&h=hKc6uInLMzsIhXaSSg51v3sUtgPuVtV9Jh4Drqxrreo=" class="d-block w-100" alt="...">

									</div>
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#test2" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>


						</a>

						<!-- Meta -->
						<a
							class="card-meta" href="#!">

							<!-- Divider -->
							<hr
							class="card-meta-divider">


							<!-- Date -->
							<p class="h6 text-uppercase text-muted mb-0 ms-auto">
								<time datetime="2019-05-02">May 02</time>
							</p>

						</a>

					</div>

				</div>
				<!-- / .card-->


			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->


</section>
