<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax zindex" style="background-image: url(https://media.istockphoto.com/photos/kitchen-room-with-rustic-dining-table-set-picture-id530405017?k=20&m=530405017&s=612x612&w=0&h=941D_68Pn6eMfroUjUUdmmP0injIlW9BC9ypHajrwkU=);">


	<div class="container">
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-10 col-lg-8 text-center">

				<!-- Heading -->
				<h1 class=" text-white mt-9">
					<div class='welcome-div'>
						<img src="/img/logo.png" class="navbar-brand-img welcom-logo" alt="">
					</div>


				</h1>

				<!-- Text -->
				<p class="lead text-white-75 mb-6">
					Rénovation, entretien et dépannage en Île-de-France

				</p>

				<!-- Button -->
				<a href="{{path('a_propos')}}" class="btn btn-primary lift bnt-contacte">


					Découvrir B2C
					<i class="fe fe-arrow-right ms-3"></i>
				</a>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
