<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white toto shadow-sm " id="navbar-Boxshadou">


	<div
		class="container">

		<!-- Brand -->
		<a class="navbar-brand logo" href="{{path('home')}}">
			<img src="/img/LOGO 1.png" class="navbar-brand-img" alt="...">
		</a>


		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div
			class="collapse navbar-collapse" id="navbarCollapse">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fe fe-x"></i>
			</button>

			<!-- Navigation -->
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown" data-toggle="dropdown">

					<a class="nav-link dropdown-toggle colorLink  " id="navbarLandings" href="{{path('realisations')}}" aria-haspopup="true" aria-expanded="false">


						Réalisations
					</a>

				</li>
				<li class="nav-item dropdown" data-toggle="dropdown">
					<a class="nav-link dropdown-toggle colorLink " id="navbarPages" href="https://www.google.com/" aria-haspopup="true" aria-expanded="false">


						Actualités
					</a>


				</li>
				<li class="nav-item dropdown" data-toggle="dropdown">

					<a class="nav-link dropdown-toggle colorLink " id="navbarAccount" href="#" aria-haspopup="true" aria-expanded="false">


						Portfolio
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarAccount">
						{% for categorie in categorieNavbar() %}

							<li class="dropdown-item dropend" data-toggle="dropdown">

								<a class="dropdown-link dropdown-toggle colorLink" href="{{path('portfolio_categorie', {'slug' : categorie.slug})}}">{{categorie.nom}}</a>

							</li>
						{% endfor %}

					</li>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown" data-toggle="dropdown">

			<a class="nav-link dropdown-toggle colorLink" id="navbarDocumentation" href="https://www.google.com/" aria-haspopup="true" aria-expanded="false">


				A propos
			</a>

		</li>
	</ul>

	<!-- Button -->
	<a class="navbar-btn btn btn-sm btn-primary lift ms-auto bnt-contacte" href="#" target="B2C">
		Me contacter
	</a>

</div></div></nav>
