{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!
{% endblock %}

{% block body %}
	<section data-jarallax data-speed=".8" class="pt-15 pt-md-15 pb-12 pb-md-14 overlay overlay-black overlay-60 bg-gray-900 jarallax" style="margin-top: -87px; background-image: url(https://media.istockphoto.com/photos/kitchen-room-with-rustic-dining-table-set-picture-id530405017?k=20&m=530405017&s=612x612&w=0&h=941D_68Pn6eMfroUjUUdmmP0injIlW9BC9ypHajrwkU=);">
		<div class="container">
			<div class="row justify-content-center">
				<div
					class="col-12 col-md-10 col-lg-7 text-center">

					<!-- Headin -->
					<h1 class="display-2 fw-bold text-white">
						{{categorie.Nom}}
					</h1>
					<p class="lead text-white-75 mb-4">
						{{categorie.description}}
					</p>
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>


	<section class="py-8 py-md-11 mt-n10 mt-md-n14">
		<div class="container">
			<div class="row " id="portfolio" data-isotope='{"layoutMode": "masonry"}' style="--bs-gutter-x: 2.4rem !important;">

				{% for realisation in realisations %}

					<div
						class=" col-12 col-md-12 resources">

						<!-- Card -->
						<div
							class=" row card shadow-light-lg mb-7 " style="flex-direction: row; gap:1rem;justify-content:center; background-color: transparent;">


							<!-- Image -->
							{% for realisationimage in realisation.images  %}
								{% if realisationimage.categorie().nom()==categorie.nom() %}
									<div class="col-md-3 card-zoom row" data-bigpicture='{"imgSrc" : "{{realisationimage.image}}"}'>
										<img class="card-img" src="{{realisationimage.image}}" alt="...">
									</div>

								{% endif %}
							{% endfor %}
						</div>

					</div>
				{% endfor %}


			</div>
		</div>
	</section>
{% endblock %}
