{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div class="lili ">
		<div class="main">
			<div
				class="register">

				<!--end register-->
				<h2 class="pt-5 pb-0">Contacter nous
				</h2>
				<form id="register">


					<input type="text" name="Lname" id="name" placeholder="Nom"/>
					<br/><br/>


					<input type="email" name="email" id="name" placeholder="Email"/>

					<br/><br/>


					<textarea name="" id="" cols="31" rows="5" placeholder="Ecriver votre message ..."></textarea>
					<br><br>
					<div class="text-center">

						<input type="submit" value="Envoyer" name="submit" id="submit"/>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
