<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}


		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
		<link rel="icon" type="image/x-icon" href="/img/favicon/FAVICON 2.png">

	</head>
	<body>
		{% include "base/nav.html.twig" %}
		{% block body %}{% endblock %}
		{% include "base/footer.html.twig" %}


	</body>
</html>
